<!DOCTYPE html>
<html>
<head>
  <title>18xx Money Tracker</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="/main.js" defer></script>
</head>
<body>
  <header>
    <h1>18xx Money Tracker</h1>
  </header>
  <main>
    <%- include('body') %>
  </main>
</body>
</html>
