<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>18xx Money Tracker</title>
</head>
<body>
  <header>
    <h1>18xx Money Tracker</h1>
  </header>
  <main>
    <%- include('body') %>
  </main>
</body>
</html>
