body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}
header {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0;
  text-align: center;
}
main {
  margin: 20px auto;
  max-width: 800px;
}
form {
  margin-bottom: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
button {
  padding: 3px 3px;
  margin: 0;
}
form {
  margin: 0;
}
form button {
  display: inline-block;
}
form label {
  display: block;
}
.amount-input {
  text-align: right;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}

.input-button-container {
  display: flex;
  align-items: center;
}

.input-button-container button {
  flex: 0 0 20px;
  padding: 3px;
  color: white;
  background-color: darkcyan;
  border: none;
  cursor: pointer;
  margin-left: 0;
  box-sizing: border-box;
}
.pay-retain-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container {
  display: flex;
  width: 100%;
}
.retain-button, .pay-button {
  flex: 1;
  padding: 3px;
  color: white;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}
.retain-button {
  background-color: darkblue;
}
.pay-button {
  background-color: darkgreen;
}
.retain-button:hover {
  background-color: blue;
}
.pay-button:hover {
  background-color: green;
}
